* {
    margin: 0px;
    padding: 0px;
}
.top_menu
{
    width: 1170px;
    height: 38px;
    display: flex;
    font-family: 'Inter';
}
.nav
{
    width: 338px;height: 26px;
    display: flex;
}
.nav h1
{
    margin-left: 20px;
}